# Visual Studio cache
Robot_Medicial_BE/.vs/
Robot_Medicial_BE/API_Powered Hospital Delivery Robot/bin/
Robot_Medicial_BE/API_Powered Hospital Delivery Robot/obj/

# Các file cấu hình cục bộ
Robot_Medicial_BE/API_Powered Hospital Delivery Robot/appsettings.Development.json
Robot_Medicial_BE/API_Powered Hospital Delivery Robot/appsettings.Local.json

# ROS2 workspace tương tự định dạng bạn nói
Robot_Medicial_IOT/robot_ws/build/
Robot_Medicial_IOT/robot_ws/install/
Robot_Medicial_IOT/robot_ws/log/
